	body {
		margin: 0;
		padding: 0;

		min-height: 100vh; /* Ustawienie wysokości na 100% widoku okna przeglądarki */
		background: linear-gradient(to bottom, #ff8a00, #da1b60, #da1b60, #da1b60, #da1b60, #1C007B); /* Zastosowanie gradientu z góry na dół */
		font-size: 20px;
		color: white; /* Kolor tekstu, dostosuj do czytelności */
		font-family: Arial, sans-serif; /* Wybór czcionki, dostosuj według potrzeb */
		}
	a:link {
		color:white;
		}
	a:visited{
		color:yellow;
		}
	
	/*.link{
		font-size: 8.5px;
		}*/

	 td{
		padding-left:2.5vw;	
		padding-right:2.5vw;		
		}

	.ikona{
		width:12vw;
		}
	#ikony{ margin: auto;
		}

	.podpis{
		padding-top:6vh;
		font-size: 1.2em;
		}

	#kontakty
		{
		padding-top:10%;
		text-align: center;
		}

	#uncover{
		padding-top:55vh;
		text-align:center;}

	#contact{
		padding-top:30%;
		width: 70%;
		}

	#downloadtext{
		padding-top:9%;
		text-align: center;
		font-size:1.2em;
		margin-left:5%;
		margin-right:5%;}
	#text{
		padding-top: 1%;
		text-align: center;
		position: relative; 
		animation:slideLeft 0.5s ease-out;
		}

	#imageContainer {
		cursor: pointer;
		width: 120px;
		height:60px;
		position: relative; top: 7vw; left: 43vw;
		animation:zoom 0.5s ease-in-out;
		}
	#download {
		cursor: pointer;
		width: 400px;  Dostosuj szerokość i wysokość do swoich potrzeb 
		height: 200px;
		position: relative; top: 7vw; left: 18vw;
		text-align:center;
   		 }

	#imageContainer img {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		}

	#downloadButton {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		}

	#pad{
		width: 150px;
		padding-top: 4.5%;
		animation: slideRight 0.5s ease-out;
		}

	.center{
		text-align: center;
		}


	@keyframes slideLeft{
		0%{transform: translateX(-100%);}
		100% {translateX(0)}
		}
	@keyframes slideRight{
		0%{transform: translateY(-100%);}
		100% {translateY(0)}
		}
	@keyframes zoom{
		0%,100%{transform: scale(1)}
		50%{transform: scale(1.5)}
		}

    
    @keyframes moveArrow {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(50px);
      }
      100% {
        transform: translateX(0);
      }
    }
	.strzalka {
		width: 20%;
		/*height: 50px;*/
		animation: moveArrow 2s infinite;
		position: relative; top: -8vw; left: -1vw;
		}

	#who{
		padding-top:10%;
		padding-left:2%;
		}

	.edu{
		padding-top:15%;
		padding-left:2%;
		float:left;
		}
	#wow{
		float:right;
		position: relative; top: -14vw; left:-2vw;
		width: 20%;
	}
	

	#edutext{
		padding-right:15%;
		padding-top:20%;
		float:right;
		}
   
	#bloklewo{
		margin-left:8%; 
		margin-right:55%;
		}

	#ja{
		width:40%;
		float:right;
		padding-right:7%;
		padding-top: 35%;
		}


	@media (max-width: 600px) {
		body {
			font-size: 16px; /* Dostosuj rozmiar tekstu dla małych ekranów */
		}
		#contact{padding-top: 33%;
			width:60%;}
		#uncover{
			padding-top:50vh;}
		#ja{padding-top: 40%;
			padding-right: 7%;}
		#pad
			{width: 100px;}
		#imageContainer {
			width: 75px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 37px;
			position: relative; top: 8vw; left: 41vw;}
		.strzalka {
			position: relative; top: -11vw; left: -3vw;}
		#downloadtext{font-size:3.5vh;}
		#download {
			width: 250px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 125px;
			position: relative; top: 10vw; left: 23vw;}
	.podpis{
		padding-top:3vh;}
	#kontakty
		{
		padding-top:6vh;
		}
		#downloadtext {
	font-size: 16px;
	}
	.link{
		font-size: 8.5px;
		}
	}
        @media (min-width: 800px) {
		#downloadtext{font-size:3.5vh;}
		#uncover{
			padding-top:70vh;}
		.strzalka {
			position: relative; top: -4vw; left: -1vw;
		}
	#ja{width:25%;
		padding-right:15%;
		padding-top: 14%;
		}
	#contact{
		padding-top:20%;
		width: 70%;
		}
	#kontakty
		{
		padding-top:10%;}

	}
        @media (min-width: 1000px) {
		#imageContainer {
			width: 200px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			position: relative; top: 7vw; left: 41.5vw;

			}
		.strzalka {
			position: relative; top: -3vw; left: -1vw;
			}
		#download {
			width: 400px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 200px;
			position: relative; top: 8vw; left: 30vw;}		

}
        @media (min-width: 1200px) {
            body {
                font-size: 27px; /* Dostosuj rozmiar tekstu dla dużych ekranów */
            }
		#pad
			{width:300px;
		}
		#imageContainer {
			width: 250px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 125px;
			position: relative; top: 8vw; left: 39vw;
		}
		.strzalka {
			position: relative; top: -4vw; left: -1vw;
		}
	#uncover{
		padding-top:120vh;
	}

		#download {
			width: 500px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 200px;
			position: relative; top: 8vw; left: 30vw;}
		#downloadtext{font-size:2em;
				margin-left: 5%;}	
	}

        @media (min-width: 1500px) {

		#imageContainer {
			width: 300px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 150px;
			position: relative; top: 7vw; left: 41vw;
		} 
		.strzalka {
			position: relative; top: -3vw; left: -1vw;
		}
		#download {
			width: 600px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 300px;
			position: relative; top: 8vw; left: 30vw;}

        }
       @media (min-width: 1800px) {

		#imageContainer {
			width: 300px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 150px;
			position: relative; top: 7vw; left: 44vw;}
		.strzalka {
			position: relative; top: -2vw; left: -3vw;
		}
		#download {
			width: 700px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 300px;
			position: relative; top: 8vw; left: 35vw;}

}