	body {
		margin: 0;
		padding: 0;
		height: 470vh; /* Ustawienie wysokości na 100% widoku okna przeglądarki */
		background: linear-gradient(to bottom, #ff8a00, #da1b60, #da1b60, #da1b60, #da1b60, #1C007B); /* Zastosowanie gradientu z góry na dół */
		font-size: 20px;
		color: white; /* Kolor tekstu, dostosuj do czytelności */
		font-family: Arial, sans-serif; /* Wybór czcionki, dostosuj według potrzeb */
		}
	a:link {
		color:white;
		}
	a:visited{
		color:yellow;
		}

	td{
		padding-left:9vw;		
		}

		.ikona{
		width:50%;
		}

		.podpis{
		padding-top:6vh;
		font-size: 1.5em;
		}

	#kontakty
		{
		padding-top:14vh;
		}

	#uncover{
		padding-top:61%;
		text-align:center;}
	#contact{
		padding-top:15%;
		}

	#downloadtext{
		padding-top:9%;
		text-align: center;
		font-size:3.5vh;
		margin-left:5%;
		margin-right:5%;}
	#text{
		padding-top: 1%;
		text-align: center;
		position: relative; 
		}

	#imageContainer {
		cursor: pointer;
		width: 120px;
		height:60px;
		position: relative; top: 7vw; left: 43vw;
		}
	#download {
		cursor: pointer;
		width: 700px;  Dostosuj szerokość i wysokość do swoich potrzeb 
		height: 300px;
		position: relative; top: 7vw; left: 38vw;
		text-align:center;
   		 }

	#imageContainer img {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		}

	#downloadButton {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		}

	#pad{
		width: 150px;
		padding-top: 4.5%;
		}

	.center{
		text-align: center;
		}
    
    @keyframes moveArrow {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(50px);
      }
      100% {
        transform: translateX(0);
      }
    }
	.strzalka {
		width: 20%;
		/*height: 50px;*/
		animation: moveArrow 2s infinite;
		position: relative; top: -8vw; left: -1vw;
		}

	#who{
		padding-top:10%;
		padding-left:2%;
		}

	#edu{
		padding-top:15%;
		padding-left:2%;
		float:left;

		}
	#wow{
		float:right;
		position: relative; top: -14vw; left:-2vw;
		width: 20%;
	}
	

	#edutext{
		padding-right:15%;
		padding-top:20%;
		float:right;
		}
   
	#bloklewo{
		margin-left:10%; 
		margin-right:55%;
		}

	#ja{width:25%;
		float:right;
		padding-right:15%;
		padding-top: 14%;
		}

	@media (max-width: 600px) {
		body {
			font-size: 16px; /* Dostosuj rozmiar tekstu dla małych ekranów */
		}
		#pad
			{width: 100px;}
		#imageContainer {
			width: 75px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 37px;
			position: relative; top: 8vw; left: 41vw;}
		.strzalka {
			position: relative; top: -11vw; left: -3vw;}
		}
	}
        @media (min-width: 800px) {
		.strzalka {
			position: relative; top: -4vw; left: -1vw;
		}

	}
        @media (min-width: 1000px) {
		#imageContainer {
			width: 200px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			position: relative; top: 7vw; left: 41.5vw;

			}
		.strzalka {
			position: relative; top: -3vw; left: -1vw;
		}
		}
        @media (min-width: 1200px) {
            body {
                font-size: 27px; /* Dostosuj rozmiar tekstu dla dużych ekranów */
            }
		#pad
			{width:300px;
		}
		#imageContainer {
			width: 250px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 125px;
			position: relative; top: 8vw; left: 39vw;
		}
		.strzalka {
			position: relative; top: -4vw; left: -1vw;
		}
	}

        @media (min-width: 1500px) {

		#imageContainer {
			width: 300px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 150px;
			position: relative; top: 7vw; left: 41vw;
		} 
		.strzalka {
			position: relative; top: -3vw; left: -1vw;
		}
        }
       @media (min-width: 1800px) {

		#imageContainer {
			width: 300px;  Dostosuj szerokość i wysokość do swoich potrzeb 
			height: 150px;
			position: relative; top: 7vw; left: 44vw;}
		.strzalka {
			position: relative; top: -2vw; left: -3vw;
		}

}